# Ganti dengan Token dari @BotFather di Telegram
TELEGRAM_BOT_TOKEN=

# Ganti dengan API Key Gemini kamu
GEMINI_API_KEY=

# Web API Key Firebase (untuk verifikasi login email & password)
FIREBASE_WEB_API_KEY=

# Supabase Storage (Untuk upload foto struk)
SUPABASE_URL=
SUPABASE_ANON_KEY=